.headerBox{
    display: block;
    border-bottom: 6px solid black;
    text-align: center;
}
.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: .25em;
    box-shadow: 0px -4px 7px dimgrey;
}

.details {
    margin-left: 20%;
}